*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial';
}

body{
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-screen{
	text-align: center;	
}

.game-screen .drawer-div{
	display: inline-block;
	background-color: green;
	padding: 5px;
	border-radius: 2px;
}

.game-screen .drawer-div canvas{
	background-color: #fff;
	display: block;
	cursor: crosshair;
}

.game-screen .tchat{
	display: inline-block;
	background-color: white;
	border: 5px solid red;
	width: 300px;
	height: 505px;
	vertical-align: top;
	border-radius: 2px;
}

.game-screen .tchat .message-list{
	height: calc(500px - 30px);
	display: block;
}

.game-screen .tchat .message-list li{
	display: block;
	list-style: none;
	text-align: left;
	font-size: 0.8em;
	width: 100%;
}

.game-screen .tchat .message-list li .username{
	margin-right: 5px;
	font-weight: bold;
}

.game-screen .tchat .message-list li.special{

}

.game-screen .tchat .message-input{
	height: 25px;
	border: 2px solid black;
	width: calc(100% - 80px);
}

.game-screen .tchat button{
	background-color: black;
	height: 25px;
	width: 75px;
	border: none;
	color: #fff;
	margin-left: 5px;

}

.game-screen .drawer-div .state{
	display: block;
	margin: 0 auto;
}

.game-screen{
	
}

.game-screen{
	
}

.game-screen{
	
}